{% extends 'base.html.twig' %}

{% block extra_stylesheets %} <link rel="stylesheet" href="styles/homepage.css"> {% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="hero">
        {# Section du haut contient une image de fond, un titre et un bouton #}
        <span class="filter">
            <div class="top">
                <h1>La paillote du soleil votre nouveau chez vous !</h1>
                <a href="{{ path('app_reservations') }}" class="btn-red">Réserver</a>
            </div>
        </span>
    </section>

    <main>
        {# Les cards qui sont des liens avec une image de fond, un titre et du text #}
        <a class="sect" href="{{ path('app_actualite') }}">
            <span class="bg-img bg1">
                <div class="filter2">
                    <h2>Actualités</h2>
                    <p>En savoir plus</p>
                </div>
            </span>
        </a>

        <a class="sect" href="{{ path('app_services') }}">
            <span class="bg-img bg2">
                <div class="filter2">
                    <h2>Services</h2>
                    <p>En savoir plus</p>
                </div>
            </span>
        </a>

        <a class="sect" href="{{ path('app_restaurant') }}">
            <span class="bg-img bg3">
                <div class="filter2">
                    <h2>Menu</h2>
                    <p>En savoir plus</p>
                </div>
            </span>
        </a>

        <a class="sect" href="{{ path('app_reservations') }}">
            <span class="bg-img bg4">
                <div class="filter2">
                    <h2>Réserver</h2>
                    <p>En savoir plus</p>
                </div>
            </span>
        </a>
    </main>
{% endblock %}