{% extends 'base.html.twig' %}

{% block extra_stylesheets %} <link rel="stylesheet" href="styles/homepage.css"> {% endblock %}

{# SEO BLOCKS #}
{# {% block page_url %}{% endblock %} #}
{# {% block featured_image %}{% endblock %} #}
{# {% block og_type %}{% endblock %} #}
{# {% block extra_keywords %}{% endblock %} #}

{% block title %}Accueil{% endblock %}
{# {% block description %}{% endblock %} #}

{% block body %}
    <section class="hero">
        <div class="top">
            <h1>Bienvenue sur le site de la Paillote du Soleil</h1>
            <a {#href="{{ path('app_home') }}"#} class="link">Test</a>
        </div>

        <div class="btn-bottom">
            <a {#href="{{ path('app_home') }}"#}>Test</a>
        </div>
    </section>

    <main>
        <section class="sect">
            <div class="div1">Nos Actualités</div>
            <div class="link">
                <a href="{{ path('app_actualite') }}">Nos Actualités</a>
            </div>
        </section>

        <section class="sect">
            <div class="div2">Nos Services</div>
            <div class="link second">
                <a href="{{ path('app_services') }}">Nos Services</a>
            </div>
        </section>

        <section class="sect">
            <div class="div3">Notre Restaurant</div>
            <div class="link">
                <a href="{{ path('app_restaurant') }}">Notre Restaurant</a>
            <div>
        </section>

        <section class="sect">
            <div class="div4">Réserver</div>
            <div class="link last">
                <a href="{{ path('app_reservations') }}">Réserver</a>
            <div>
        </section>
    </main>
{% endblock %}