{% extends 'base.html.twig' %}

{% block extra_stylesheets %} <link rel="stylesheet" href="styles/homepage.css"> {% endblock %}

{# SEO BLOCKS #}
{# {% block page_url %}{% endblock %} #}
{# {% block featured_image %}{% endblock %} #}
{# {% block og_type %}{% endblock %} #}
{# {% block extra_keywords %}{% endblock %} #}

{% block title %}Accueil{% endblock %}
{# {% block description %}{% endblock %} #}

{% block body %}
    <section class="hero">
        <span class="filter">
            <div class="top">
                <h1>La paillote du soleil votre nouveau chez vous !</h1>
                <a href="{{ path('app_reservations') }}" class="btn-red">Réserver</a>
            </div>
        </span>
    </section>

    <main>
        <a class="sect" href="{{ path('app_actualite') }}">
            <span class="bg-img bg1">
                <h2 class="filter2">Actualités</h2>
            </span>
        </a>

        <a class="sect" href="{{ path('app_services') }}">
            <span class="bg-img bg2">
                <h2 class="filter2">Services</h2>
            </span>
        </a>

        <a class="sect" href="{{ path('app_restaurant') }}">
            <span class="bg-img bg3">
                <h2 class="filter2">Menu</h2>
            </span>
        </a>

        <a class="sect" href="{{ path('app_reservations') }}">
            <span class="bg-img bg4">
                <h2 class="filter2">Réserver</h2>
            </span>
        </a>
    </main>
{% endblock %}