{% extends 'base.html.twig' %}

{% block extra_stylesheets %} <link rel="stylesheet" href="styles/homepage.css"> {% endblock %}

{# SEO BLOCKS #}
{# {% block page_url %}{% endblock %} #}
{# {% block featured_image %}{% endblock %} #}
{# {% block og_type %}{% endblock %} #}
{# {% block extra_keywords %}{% endblock %} #}

{% block title %}Accueil{% endblock %}
{# {% block description %}{% endblock %} #}

{% block body %}
    <section class="hero">
        <div class="top">
            <h1>Bienvenue sur le site de la paillote du Soleil</h1>
            <a href="{{ path('app_reservations') }}" class="link">Réserver</a>
        </div>
    </section>

    <main>
        <section class="sect">
            <div class="div1">Nos Actualités</div>
            <a class="link" href="{{ path('app_actualite') }}">Nos Actualités</a>
        </section>

        <section class="sect">
            <div class="div2">Nos Services</div>
            <a class="link second" href="{{ path('app_services') }}">Nos Services</a>
        </section>

        <section class="sect">
            <div class="div3">Notre Restaurant</div>
            <a class="link" href="{{ path('app_restaurant') }}">Notre Restaurant</a>
        </section>

        <section class="sect">
            <div class="div4">Réserver</div>
            <a class="link last" href="{{ path('app_reservations') }}">Réserver</a>
        </section>
    </main>
{% endblock %}