{% extends 'base.html.twig' %} 

{% block title %}Nos actualités{% endblock %} 

{% block extra_stylesheets %}
<link rel="stylesheet" href="/styles/actualite.css" />
{% endblock %} 

{% block body %}

<main>

  <div class="container">
    
    <h1>Découvrez nos actualitées</h1>
    <p>Ne manquez aucune actualité de notre restaurant ! Restez informé des dernières tendances culinaires, des événements spéciaux, des nouveaux menus et bien plus encore. 
        Nous sommes fiers de partager avec vous toutes les nouveautés et actualités de notre restaurant pour vous offrir une expérience inoubliable à chaque visite.</p>
    
    {% if is_granted('ROLE_ADMIN') %}
      <a class="btn-red" href="{{ path('app_logout') }}">Déconnexion</a>
    {% endif %}

    <section class="actualite-container">

      {% if is_granted('ROLE_ADMIN') %}
        <a class="btn-green" href="{{ path('app_actualite_create') }}">Ajouter actualitée</a>
      {% endif %}
      
      {% for actualite in actualites %}
      
      <div class="actualite">
        
      <h2>{{ actualite.titre }}</h2>
      <img src="img/{{ actualite.nomImage }}" alt="{{ actualite.titre }}" />
      <p>{{ actualite.description|u.truncate(200) }}...</p>

      <a class="btn-green" href="{{ path('app_actualite_view', {"id": actualite.id}) }}">Voir l'article</a>

      {% if is_granted('ROLE_ADMIN') %}
        <form method="post" action="{{ path('app_actualite_delete', {"id": actualite.id}) }}">
          <input type="hidden" name="token" value="{{ csrf_token('actualite-' ~ actualite.id) }}">
          <button class="btn-red" style="border: none;" type="submit">Supprimer</button>
        </form>
        <a class="btn-yellow" href="{{ path('app_actualite_edit', {"id": actualite.id}) }}">Modifier</a>
      {% endif %}
      
    </div>
    
    {% endfor %}
    
  </section>
  
</div>

  <section class="partenaire-container">
    
    <h2>Nos partenaires</h2>

    <section class="partenaires">
      <div class="partenaire">
        <h3>Guide Michelin</h3>
        <img src="img/guide-michelin.webp" alt="">
      </div>
      
      <div class="partenaire">
        <h3>Moby Dick</h3>
        <img src="img/surf-school-logo.png" alt="">
      </div>
      
      <div class="partenaire">
        <h3>Cyclo Park</h3>
        <img src="img/Location-velo.png" alt="">
      </div>
      
      <div class="partenaire">
        <h3>Hotel Younan</h3>
        <img src="img/LOGO-hotel.webp" alt="">
      </div>
      
      <div class="partenaire">
        <h3>Comptoir de la mer</h3>
        <img src="img/comptoir-de-la-mer.png" alt="">
      </div>
    
    </section>
    
    
  </section>

  <div class="container">

    <section class="presse-container">

      <h2>Ils parlent de nous</h2>

      <div class="presse">
        <img src="img/journaux.jpg" alt="">
        <h3>Le restaurant la Paillote du Soleil remporte le prix de la meilleure cuisine locale</h3>
        <p>Le restaurant la Paillote du Soleil a remporté le prix de la meilleure cuisine locale lors de la cérémonie annuelle des prix gastronomiques. Cette récompense est une reconnaissance bien méritée pour l'équipe du restaurant, qui a su mettre en valeur les produits locaux dans des plats savoureux et créatifs. 
          Le chef Brice Glace est passionné par la cuisine locale depuis de nombreuses années, et cette récompense témoigne de son engagement à mettre en avant les ingrédients frais et de qualité de la région. Le menu du restaurant propose des plats saisonniers élaborés à partir de produits locaux, tels que les fruits de mer fraîchement pêchés et les légumes de saison. 
          Le cadre chaleureux et convivial du restaurant ajoute une touche supplémentaire à l'expérience culinaire, avec un service attentionné et professionnel qui contribue à faire de chaque visite une expérience inoubliable. 
          Si vous cherchez un restaurant qui célèbre la cuisine locale de manière créative et délicieuse, ne cherchez pas plus loin que le restaurant la Paillote du Soleil. Félicitations à l'équipe pour cette récompense bien méritée !</p>
      </div>

    </section>

  </div>
  
</main>

{% endblock %}
