{% extends 'base.html.twig' %} {% block title %}Actualitée{% endblock %} {%
block extra_stylesheets %}
<link rel="stylesheet" href="../../styles/actualite.css" />
{% endblock %} {% block body %} {#
<h1>Visualisation d'une actualitées</h1>
#}
<main>
  <div class="view-actualite container">
    <img src="../../img/{{ actualite.nomImage }}" alt="{{ actualite.titre }}" />
    <h2>{{ actualite.titre }}</h2>
    <p>{{ actualite.description }}</p>

    <a href="{{ path('app_actualite') }}">Retour</a>
  </div>
</main>

{% endblock %}
