{% extends 'base.html.twig' %}

{% block extra_javascripts %}
<script defer src="scripts/restaurant.js"></script>
{% endblock %}

{% block title %}Hello RestaurantController!{% endblock %}
{% block extra_stylesheets %}
<link rel="stylesheet" href="styles/restaurant.css"> {% endblock %}

{% block body %}

<main>
    <section class="presentation">
        <img src="/img/terrasseRestoSun.jpg" alt="image de la paillote" width="500px">
        <div>
            <h1>Présentation de la Paillote du Soleil</h1>
            <p>La Paillote Soleil est un restaurant situé à Sainte-Maxime, dans le Var. Nous vous proposons une cuisine
                traditionnelle et de saison, avec des produits frais et locaux. Nous vous accueillons dans un cadre
                chaleureux et convivial, avec une vue imprenable sur la mer.</p>
            <p>Créé au debut du siecle, sous le nom de francis, elle renait suite à une explosion malheureuse sous le
                nom de la paillote du soleil .</p>
            <p>Aujourd'hui, fort d'une renommée régionale, la rénovation complète de l'établissement en 2020 nous permet
                désormais d'offrir à notre clientel une expérience exeptionnel.</p>
        </div>
        <div>
            <h1>carrousel</h1>

        </div>
    </section>

    <section class="laCarte">
        <article class="Entree">
            <div>
                <h3>Nos Entrées</h3>



                {# <tbody> mon code qui importe les donner de la base de donnée sans le css de la "card collapse
                    accordeon"
                    {% for plat in plats %}
                    {% if plat.type == "entree" %}

                    <tr>
                        <td>{{ plat.nom }}</td>
                        <td>{{ plat.ingredients }}</td>
                        <td>{{ plat.suggestion }}</td>
                        <td>{{ plat.complements }}</td>
                        <td>{{ plat.prix }}</td>
                        <td>{{ plat.image }}</td>
                        <td>
                            {% if plat.maison %}
                            <img href="/img/iconeFaitMaison.jpg" alt="picto fait maison" width="10em" height="10em">
                            {% endif %}
                            {% if plat.gluten %}
                            <img href="/img/iconeGluten.jpg" alt="picto Gluten" width="10em" height="10em">
                            {% endif %}
                            {% if plat.vegetarien %}
                            <img href="/img/iconeVege.png" alt="picto vegétarien" width="10em" height="10em">
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody> #}






                {% for plat in plats %}
                {% if plat.type == "entree" %}


                <div class="card">
                    <div class="card-header">
                        <div class="icone">
                            <h3>{{ plat.nom }}</h3>
                            {% if plat.maison %}
                            <img src="/img/iconeFaitMaison.jpg" alt="picto fait maison" width="30px" height="30px">
                            {% endif %}

                            {% if plat.gluten %}
                            <img src="/img/iconeGluten.jpg" alt="picto Gluten" width="30px" height="30px">
                            {% endif %}

                            {% if plat.vegetarien %}
                            <img src="img/iconeVege.png" alt="picto vegétarien" width="30px" height="30px">
                            {% endif %}
                        </div>
                        <div class="prix">
                            <p>{{ plat.prix }}€</p>
                        </div>

                    </div>
                    <div class="card-body collapse">
                        <p>{{ plat.ingredients }}</p>
                        <p>{{ plat.suggestion }}</p>
                        <p>{{ plat.image }}</p>


                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <img id="faitMaison" src="iconeFaitMaison.jpg" alt="icone faitMaison" width="4em" height="4em">
                <img id="platVege" src="iconeVégé.jpg" alt="icone vege" width="4em" height="4em">
                <img id="platgluten" src="iconeGluten.jpg" alt="icone Gluten" width="4em" height="4em">
                <div>
                    <p>description soupe tomate</p>
                    <img id="entree?" src="?.jpg" alt="?" width="20em" height="20em">
                </div>
            </div>

            <article class="plat">
                <div>
                    <p>titre soupe tomate</p>
                    <img id="faitMaison" src="iconeFaitMaison.jpg" alt="icone faitMaison" width="4em" height="4em">
                    <img id="platVege" src="iconeVégé.jpg" alt="icone vege" width="4em" height="4em">
                    <img id="platgluten" src="iconeGluten.jpg" alt="icone Gluten" width="4em" height="4em">
                    <div>
                        <p>description soupe tomate</p>
                        <img id="plat?" src="?.jpg" alt="?" width="20em" height="20em">
                    </div>
                </div>

                <article class="dessert">
                    <div>
                        <p>titre soupe tomate</p>
                        <img id="faitMaison" src="iconeFaitMaison.jpg" alt="icone faitMaison" width="4em" height="4em">
                        <img id="platVege" src="iconeVégé.jpg" alt="icone vege" width="4em" height="4em">
                        <img id="platgluten" src="iconeGluten.jpg" alt="icone Gluten" width="4em" height="4em">
                        <div>
                            <p>description soupe tomate</p>
                            <img id="dessert?" src="?.jpg" alt="?" width="20em" height="20em">
                        </div>
                    </div>

    </section>
    <section class="menu">
        <a href=" ">réserver</a>
        <div>
            <p>Menu 1</p>
            <p>18€</p>
            <div>
                <p>entree + plat ou plat + dessert</p>
                <p>boissons en complement</p>
                <img id="Menu" src="img/formule1.jpg" alt="" width="20em" height="20em">
            </div>

            <div>
                <p>Menu 2</p>
                <p>23€</p>
                <div>
                    <p>entree + plat + dessert</p>
                    <p>boissons en complement, café offert</p>
                    <img id="Menu" src="img/formule2.jpg" alt="" width="20em" height="20em">
                </div>

                <div>
                    <p>Menu enfant</p>
                    <p>8€</p>
                    <div>
                        <p>panée de poulet, frites </p>
                        <p>boissons en complement</p>
                        <img id="Menu" src="img/menuEnfant.jpg" alt="" width="20em" height="20em">
                    </div>

    </section>


    <section class="traiteur">
        <a href=" ">demandez un devis</a>
        <div>
            <p>formule 1</p>
            <p>dès15€/pers.</p>
            <div>
                <p>Les Services:</p>
                <p>Menu au choix</p>
                <p>Buffet</p>
                <p>Livraison</p>
                <p>location de matèriel</p>
                <img id="traiteur1" src="img/traiteur8.jpg" alt="" width="20em" height="20em">
                <img id="traiteur" src="img/traiteur2.jpg" alt="" width="20em" height="20em">
                <img id="traiteur" src="img/traiteur3.jpg" alt="" width="20em" height="20em">
                <img id="traiteur" src="img/traiteur4.jpg" alt="" width="20em" height="20em">
            </div>

            <div>
                <p>formule 2</p>
                <p>23€</p>
                <p>dès 30€/pers.</p>
                <div>
                    <p>Les Services:</p>
                    <p>Menu au choix</p>
                    <p>Buffet</p>
                    <p>Livraison</p>
                    <p>location de matèriel</p>
                    <img id="traiteur1" src="img/traiteur5.jpg" alt="" width="20em" height="20em">
                    <img id="traiteur" src="img/traiteur6.jpeg" alt="" width="20em" height="20em">
                    <img id="traiteur" src="img/traiteur7.jpg" alt="" width="20em" height="20em">
                    <img id="traiteur" src="img/traiteur1.jpeg" alt="" width="20em" height="20em">
                </div>



    </section>




    main
    section article
    footer
</main>

{% endblock %}