<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">

    {# Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap" rel="stylesheet">

    {# Favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">

    {# Stylesheets #}
    <link rel="stylesheet" href="styles/main.css">
    {% block extra_stylesheets %}{% endblock %}

    {# Scripts #}
    <script src="scripts/main.js" defer></script>
    {% block extra_javascripts %}{% endblock %}

    {# SEO #}
    <meta name="robots" content="index, follow">
    <title>{% block title %}{% endblock %} | La paillote du Soleil</title>
    <meta name="description"
        content="{% block description %}Restaurant Gastronomique avec terrasse exceptionnelle sur la plage de Valras{% endblock %}">
    <meta name="keywords"
        content="restaurant gastronomique terrasse valras plage{% block extra_keywords %}{% endblock %}">
    <link rel="canonical" href="{% block page_url %}{% endblock %}">

    {# Open Graph #}
    <meta property="og:title" content="{{ block('title')}} | La paillote du Soleil">
    <meta property="og:description" content="{{ block('description') }}">
    <meta property="og:image" content="{% block featured_image %}{% endblock %}">
    <meta property="og:url" content="{{ block('page_url') }}">
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta property="og:site_name" content="La paillote du Soleil">

    {# JSON-LD #}
    <script type="application/ld+json">
    {% block json_ld %}
    {
        "@context": "https://schema.org/",
        "@type": "WebPage",
        "name": "{{ block('title')}} | La paillote du Soleil",
        "description": "{{ block('description') }}",
        "url": "{{ block('page_url') }}",
        "image": "terrasseRestoSun.jpg",
        "publisher": {
            "@type": "Organization",
            "name": "La paillote du Soleil",
            "logo": {
                "@type": "ImageObject",
                "url": "/favicon-32x32.png",
                "width": "32",
                "height": "32"
            }
            },
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ block('page_url') }}"
        }
    }
    {% endblock %}
    </script>

</head>

<body>
    {% include 'header.html.twig' %}
    {% block body %}{% endblock %}
    {% include 'footer.html.twig' %}
    {% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="flash flash-{{ label }} show">
        <div class="flash-close"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                class="bi bi-x-square-fill" viewBox="0 0 16 16">
                <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
            </svg></div>
        <div class="flash-message">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</body>

</html>