<footer>
  <div class="newsletter">
    <p>Inscrivez-vous à notre <br> newsletter pour ne manquer <br> aucun actualité </p>
    <form action="" method="POST">
    <input type="text" placeholder="email@example.com">
    <button type="submit">S'inscrire</button>
    </form>
    </div>
  <div class="menu">
    <a href="{{ path('app_home') }}">Actualités</a>
    <a href="{{ path('app_restaurant') }}">Restaurant</a>
    <a href="{{ path('app_mentions_legales') }}">Mention Légales</a>
  </div>    
  <div class="menu1">
    <a href="{{ path('app_home') }}">Services</a>
    <a href="{{ path('app_reservations') }}">Reservation</a>
    <a href="{{ path('app_cgu') }}">CGU/CGV</a>
  </div>
  <div class="logo">
    <a href="{{ path('app_home') }}">
      <img src="favicon-32x32.png" alt="Logo"></a>
      <h6>La Paillote du Soleil</h6>
  </div> 
</footer>