<footer>
  <section class="navFooter">
    <section class="infos">   
      <div>
        <p><a href="{{ path('app_home') }}">Accueil</a></p>
        <p><a href="{{ path('app_reservations') }}">Réservation</a></p>
        <p><a href="{{ path('app_restaurant') }}">Restaurant</a></p>
      </div>    
      <div>
        <p><a href="{{ path('app_services') }}">Nos Services</a></p>
        <p><a href="{{ path('app_actualite') }}">Nos Actualités</a></p>
        <p><a href="{{ path('app_reservations') }}">Nous contacter</a></p>
      </div>
      <div>
        <p><a href="{{ path('app_reservations') }}">Nous recutons</a></p>
        <p><a href="{{ path('app_mentions_legales') }}">Mention Légales</a></p>
        <p><a href="{{ path('app_cgu') }}">CGU/CGV</a></p>
      </div>
    </section>

    <div class="newsletter">
      <p>Inscrivez-vous à nos newsletter</p>
      <form action="" method="POST">
        <input type="text" placeholder="email@example.com">
        <button type="submit">S'inscrire</button>
      </form>
    </div>
  </section>

  <div class="logo-footer">
    <a href="{{ path('app_home') }}">
      <img src="/logo-white.svg" alt="Logo">
    </a>
			<h1><a class="title" href="{{ path('app_home') }}">La Paillote du Soleil</a></h1>
  </div>

  <div class="copyright">
    <p>&copy;{{ "now"|date("Y") }} MSPR TEAM 1. All Rights Reserved</p>
  </div>
</footer>