{% block extra_javascripts %} 
<script defer src="scripts/burger.js"></script> 
{% endblock %}
<header>
	<nav>
		<div class="navLogo">
			<a href="{{ path('app_home') }}">
				<img src="logo-no-background.png" alt="Logo">
			</a>
			<span>La paillote du Soleil</span>
		</div>
		<ul id="navDesktop">
			<li>
				<a href="{{ path('app_actualite') }}">Nos Actualités</a>
			</li>
			<li>
				<a href="{{ path('app_services') }}">Nos Services</a>
			</li>
			<li>
				<a href="{{ path('app_restaurant') }}">Restaurant</a>
			</li>
			<li>
				<a href="{{ path('app_reservations') }}">Réservations</a>
			</li>
		</ul>

		<div id="navMobile">
			{# Menu burger #}
			<div id="mySidenav" class="sidenav">
				<a id="closeBtn" href="#" class="close">×</a>
				<ul>
					<li><a href="{{ path('app_actualite') }}">Nos Actualités</a></li>
					<li><a href="{{ path('app_services') }}">Nos Services</a></li>
					<li><a href="{{ path('app_restaurant') }}">Restaurant</a></li>
					<li><a href="{{ path('app_reservations') }}">Réservations</a></li>
				</ul>
			</div>

			<a href="#" id="openBtn">
				<span class="burger-icon">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</a>
		</div>
	</nav>
</header>
