<header>
    <nav>
        <div class="navLogo">
            <a href="{{ path('app_home') }}">
                <img src="favicon-32x32.png" alt="Logo">
            </a>
            <span class="brand-name">La paillote du Soleil</span>
        </div>
        <ul>
            <li><a href="{{ path('app_home') }}">Nos Actualités</a></li>
            <li><a href="{{ path('app_home') }}">Nos Services</a></li>
            <li><a href="{{ path('app_restaurant') }}">Restaurant</a></li>
            <li><a href="{{ path('app_reservations') }}">Réservations</a></li>
        </ul>
    </nav>
</header>