<header>
    <nav>
        <a href="{{ path('app_home') }}">
            <img src="favicon-32x32.png" alt="Logo">
        </a>
        <span>La paillote du Soleil</span>
        <ul>
            <li><a href="{{ path('app_home') }}">Nos Actualités</a></li>
            <li><a href="{{ path('app_home') }}">Nos Services</a></li>
            <li><a href="{{ path('app_restaurant') }}">Restaurant</a></li>
            <li><a href="{{ path('app_reservations') }}">Réservations</a></li>
        </ul>
    </nav>
</header>