<header>
	<nav>
		<div class="logoTitle">
			<a class="logo" href="{{ path('app_home') }}">
				<img src="/logo-black.svg" alt="Logo">
			</a>
			<h1><a class="title" href="{{ path('app_home') }}">La Paillote du Soleil</a></h1>
		</div>

		{# Menu desktop #}
		<ul id="navDesktop">
			<li>
				<a href="{{ path('app_actualite') }}">Nos Actualités</a>
			</li>
			<li>
				<a href="{{ path('app_services') }}">Nos Services</a>
			</li>
			<li>
				<a href="{{ path('app_restaurant') }}">Restaurant</a>
			</li>
			<li>
				<a href="{{ path('app_reservations') }}">Réservations</a>
			</li>
		</ul>

		{# Menu burger #}
		<div id="navMobile">
			<a href="#" id="openBtn">
				<span class="burger-icon">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</a>

			<div id="mySidenav" class="sidenav">
				<a id="closeBtn" href="#" class="close">×</a>
				<ul>
					<li><a href="{{ path('app_actualite') }}">Nos Actualités</a></li>
					<li><a href="{{ path('app_services') }}">Nos Services</a></li>
					<li><a href="{{ path('app_restaurant') }}">Restaurant</a></li>
					<li><a href="{{ path('app_reservations') }}">Réservations</a></li>
				</ul>
			</div>
		</div>

	</nav>
</header>
